{% extends 'base.html' %}

{% block content %}

<form action='/events' method='post'>
    <label for="date">Date</label><input type="text" name='date' id='date'>
    <label for="event_name">Event Name</label><input type="text" name='event_name' id='event_name'>
    <label for="num_guests">Number of Guests</label><input type="text" name='num_guests' id='num_guests'>
    <label for="room_loc">Room Location</label><input type="text" name='room_loc' id='room_loc'>
    <label for="description">Description</label><input type="text" name='description' id='description'>
    <input type="submit" value="Add Event">
</form>

{% endblock %}